/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}


#page-home {
    background-color: #ffffff;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Press Start 2P', cursive;
}


.title {
    font-size: 18px;
    font-weight: normal;
    color: #b5b6e4;
    margin-bottom: 30px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-container {
    background-color: #cec9cc;
    width: 450px;
    height: 500px;

    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow:
  0 2.8px 2.2px rgba(33, 26, 33, 0.5),
  0 6.7px 5.3px rgba(206, 201, 204, 1),
  0 12.5px 10px rgba(144, 138, 153, 0.8),
  0 22.3px 17.9px rgba(79, 67, 174, 0.9),
  0 41.8px 33.4px rgba(181, 182, 228, 0.7),
  0 100px 80px rgba(0, 0, 0, 0.3)
;
}

.calc-container .display-container {
    background-color: #EEEEEE;
    width: auto;
    height: 120px;

    margin: 20px 20px;
    border-radius: 8px;

    font-size: 40px;
    font-weight: bold;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.calc-container .display-container .display {
    background-color: #EEEEEE;
    height: 40px;

    margin: 0 20px;
    padding: 15px 0 0;

    justify-content: center;
    text-align: right;
}

.calc-container .display-container .display#middle {
    border-bottom: 1px solid #4f43ae;
    font-size: 20px;
    color: #4f43ae;
}

.calc-container .buttons-container {
    margin: 0 20px 20px;
    height: 100%;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, minmax(10px, 1fr));
    grid-template-rows: repeat(4, minmax(30px, 1fr));
    grid-template-areas:
        "num7 num8 num9 opDi opCe"
        "num4 num5 num6 opMu opSq"
        "num1 num2 num3 opMi opEq"
        "num0 opDot opPlMi opPl opEq"
    ;
}

.number#num0 { grid-area: num0; }
.number#num1 { grid-area: num1; }
.number#num2 { grid-area: num2; }
.number#num3 { grid-area: num3; }
.number#num4 { grid-area: num4; }
.number#num5 { grid-area: num5; }
.number#num6 { grid-area: num6; }
.number#num7 { grid-area: num7; }
.number#num8 { grid-area: num8; }
.number#num9 { grid-area: num9; }
.operator#oprCe { grid-area: opCe; }
.operator#oprDiv { grid-area: opDi; }
.operator#oprMult { grid-area: opMu; }
.operator#oprMinus { grid-area: opMi; }
.operator#oprPlus { grid-area: opPl; }
.operator#oprDot { grid-area: opDot; }
.operator#oprPlusMinus { grid-area: opPlMi; }
.operator#oprSqroot { grid-area: opSq; }
.operator#oprEqual { grid-area: opEq; color: #b5b6e4; box-shadow: 2px 2px #4f43ae;  }

.calc-container .buttons-container button {
    background-color: #211a21;
    border-radius: 8px;
    border: none;

    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    font-weight: 400;
}

.calc-container .buttons-container button:hover,
.calc-container .buttons-container button.active {
    background-color: #908a99;
}

.calc-container .buttons-container .number {
    /* border: 1px solid white; */
    box-shadow: 2px 2px #EEEEEE7f;
}

.calc-container .buttons-container .operator {
    box-shadow: 2px 2px #ffffff;
    color: #b5b6e4;
}

footer {
  margin-top: 150px;
}
